body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    text-align: justify;
}
h1{
    font-size: 50px;
}
.rong{
    color: orange;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
}
.experice-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-mg{
    width: 50%;
    padding-right: 2%;
}
.half-mg img{
    width: 80%;
}
.download-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
}
.lastbac{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.sor{
    padding-left: 20px;
}
.experi-div{
    display: flex;
}
.ektuchoto{
    font-size: 40px;
}

.items{
    box-shadow:  10px 10px 40px grey;
    width: 50%;
    padding-left: 2%;
    margin: 40px;
    border-radius: 10px;
    border-left: 5px solid orangered;
}
.item{
    box-shadow: 10px 10px 40px grey;
    width: 50%;
    padding-left: 2%;
    margin: 40px;
    border-radius: 10px;
    border-left: 5px solid orangered;
}

footer p{
    text-align: center;
}